/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/AllowNestingAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/AllowNestingAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/AllowNestingPropertyDrawer.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/AllowNestingPropertyDrawer.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/AnimatorParamAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/AnimatorParamAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/AnimatorParamPropertyDrawer.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/AnimatorParamPropertyDrawer.cs.meta
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/BoxGroupAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/BoxGroupAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes_SpecialCase/ButtonAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes_SpecialCase/ButtonAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/Utility/ButtonUtility.cs
/Assets/NaughtyAttributes/Scripts/Editor/Utility/ButtonUtility.cs.meta
/Assets/NaughtyAttributes/Scripts/Core.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/CurveRangeAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/CurveRangeAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/CurveRangePropertyDrawer.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/CurveRangePropertyDrawer.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/DecoratorDrawers.meta
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/DisableIfAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/DisableIfAttribute.cs.meta
/DocCodeExamples.csproj
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/DrawerAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/DrawerAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes_SpecialCase.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/DropdownAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/DropdownAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/DropdownPropertyDrawer.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/DropdownPropertyDrawer.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/Utility/EColor.cs
/Assets/NaughtyAttributes/Scripts/Core/Utility/EColor.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/Utility/EConditionOperator.cs
/Assets/NaughtyAttributes/Scripts/Core/Utility/EConditionOperator.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor.meta
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/EnableIfAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/EnableIfAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/EnableIfAttributeBase.cs
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/EnableIfAttributeBase.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/EnumFlagsAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/EnumFlagsAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/EnumFlagsPropertyDrawer.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/EnumFlagsPropertyDrawer.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/Expandable.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/Expandable.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/ExpandablePropertyDrawer.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/ExpandablePropertyDrawer.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/FoldoutAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/FoldoutAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/HideIfAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/HideIfAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/HorizontalLineAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/HorizontalLineAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/DecoratorDrawers/HorizontalLineDecoratorDrawer.cs
/Assets/NaughtyAttributes/Scripts/Editor/DecoratorDrawers/HorizontalLineDecoratorDrawer.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/IGroupAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/IGroupAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/INaughtyAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/INaughtyAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/InfoBoxAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/InfoBoxAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/DecoratorDrawers/InfoBoxDecoratorDrawer.cs
/Assets/NaughtyAttributes/Scripts/Editor/DecoratorDrawers/InfoBoxDecoratorDrawer.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/InputAxisAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/InputAxisAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/InputAxisPropertyDrawer.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/InputAxisPropertyDrawer.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/LabelAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/LabelAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/LayerAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/LayerAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/LayerPropertyDrawer.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/LayerPropertyDrawer.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/ValidatorAttributes/MaxValueAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/ValidatorAttributes/MaxValueAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyValidators/MaxValuePropertyValidator.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyValidators/MaxValuePropertyValidator.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/MetaAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/MetaAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/MinMaxSliderAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/MinMaxSliderAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/MinMaxSliderPropertyDrawer.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/MinMaxSliderPropertyDrawer.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/ValidatorAttributes/MinValueAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/ValidatorAttributes/MinValueAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyValidators/MinValuePropertyValidator.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyValidators/MinValuePropertyValidator.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/NaughtyAttributes.Core.asmdef
/Assets/NaughtyAttributes/Scripts/Core/NaughtyAttributes.Core.asmdef.meta
/NaughtyAttributes.Core.csproj
/Assets/NaughtyAttributes/Scripts/Editor/NaughtyAttributes.Editor.asmdef
/Assets/NaughtyAttributes/Scripts/Editor/NaughtyAttributes.Editor.asmdef.meta
/NaughtyAttributes.Editor.csproj
/Assets/NaughtyAttributes/Scripts/Editor/Utility/NaughtyEditorGUI.cs
/Assets/NaughtyAttributes/Scripts/Editor/Utility/NaughtyEditorGUI.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/NaughtyInspector.cs
/Assets/NaughtyAttributes/Scripts/Editor/NaughtyInspector.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/OnValueChangedAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/OnValueChangedAttribute.cs.meta
/OverloadedFunctionPointers.csproj
/Assets/NaughtyAttributes/package.json
/Assets/NaughtyAttributes/package.json.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/ProgressBarAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/ProgressBarAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/ProgressBarPropertyDrawer.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/ProgressBarPropertyDrawer.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/PropertyDrawerBase.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/PropertyDrawerBase.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers_SpecialCase.meta
/Assets/NaughtyAttributes/Scripts/Editor/Utility/PropertyUtility.cs
/Assets/NaughtyAttributes/Scripts/Editor/Utility/PropertyUtility.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyValidators/PropertyValidatorBase.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyValidators/PropertyValidatorBase.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyValidators.meta
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/ReadOnlyAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/ReadOnlyAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/Utility/ReflectionUtility.cs
/Assets/NaughtyAttributes/Scripts/Editor/Utility/ReflectionUtility.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes_SpecialCase/ReorderableListAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes_SpecialCase/ReorderableListAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers_SpecialCase/ReorderableListPropertyDrawer.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers_SpecialCase/ReorderableListPropertyDrawer.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/ValidatorAttributes/RequiredAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/ValidatorAttributes/RequiredAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyValidators/RequiredPropertyValidator.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyValidators/RequiredPropertyValidator.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/ResizableTextAreaAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/ResizableTextAreaAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/ResizableTextAreaPropertyDrawer.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/ResizableTextAreaPropertyDrawer.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/Utility/SavedBool.cs
/Assets/NaughtyAttributes/Scripts/Editor/Utility/SavedBool.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/SceneAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/SceneAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/ScenePropertyDrawer.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/ScenePropertyDrawer.cs.meta
/Assets/NaughtyAttributes/Scripts.meta
/SeparateAssembly.csproj
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/ShowAssetPreviewAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/ShowAssetPreviewAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/ShowAssetPreviewPropertyDrawer.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/ShowAssetPreviewPropertyDrawer.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/ShowIfAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/ShowIfAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/ShowIfAttributeBase.cs
/Assets/NaughtyAttributes/Scripts/Core/MetaAttributes/ShowIfAttributeBase.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes_SpecialCase/ShowNativePropertyAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes_SpecialCase/ShowNativePropertyAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes_SpecialCase/ShowNonSerializedFieldAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes_SpecialCase/ShowNonSerializedFieldAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/SortingLayerAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/SortingLayerAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/SortingLayerPropertyDrawer.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/SortingLayerPropertyDrawer.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes_SpecialCase/SpecialCaseDrawerAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes_SpecialCase/SpecialCaseDrawerAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers_SpecialCase/SpecialCasePropertyDrawerBase.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers_SpecialCase/SpecialCasePropertyDrawerBase.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/TagAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/DrawerAttributes/TagAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/TagPropertyDrawer.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyDrawers/TagPropertyDrawer.cs.meta
/TurnBasedCombat-Persona3.sln
/Unity.Burst.CodeGen.csproj
/Unity.Burst.csproj
/Unity.Burst.Editor.csproj
/Unity.Burst.Editor.Tests.csproj
/Unity.Burst.Tests.UnitTests.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.EditorCoroutines.Editor.csproj
/Unity.Mathematics.csproj
/Unity.Mathematics.Editor.csproj
/Unity.Mathematics.Tests.csproj
/Unity.Performance.Profile-Analyzer.Editor.csproj
/Unity.Performance.Profile-Analyzer.EditorTests.csproj
/Unity.PlasticSCM.Editor.csproj
/Unity.RenderPipelines.Core.Editor.csproj
/Unity.RenderPipelines.Core.Editor.Tests.csproj
/Unity.RenderPipelines.Core.Runtime.csproj
/Unity.RenderPipelines.Core.Runtime.Tests.csproj
/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/Unity.RenderPipelines.HighDefinition.Config.Runtime.csproj
/Unity.RenderPipelines.HighDefinition.Editor.csproj
/Unity.RenderPipelines.HighDefinition.Editor.Tests.csproj
/Unity.RenderPipelines.HighDefinition.Runtime.csproj
/Unity.RenderPipelines.HighDefinition.Runtime.Tests.csproj
/Unity.RenderPipelines.HighDefinitionConfig.Editor.Tests.csproj
/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/Unity.Rider.Editor.csproj
/Unity.Searcher.Editor.csproj
/Unity.Searcher.EditorTests.csproj
/Unity.Settings.Editor.csproj
/Unity.Settings.Tests.csproj
/Unity.ShaderGraph.Editor.csproj
/Unity.ShaderGraph.Editor.Tests.csproj
/Unity.ShaderGraph.Utilities.csproj
/Unity.TestTools.CodeCoverage.Editor.Compatibility.csproj
/Unity.TestTools.CodeCoverage.Editor.csproj
/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.csproj
/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.TextMeshPro.Editor.Tests.csproj
/Unity.TextMeshPro.Tests.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.VisualEffectGraph.Editor.csproj
/Unity.VisualEffectGraph.Editor.Tests.csproj
/Unity.VisualEffectGraph.Runtime.csproj
/Unity.VisualEffectGraph.Runtime.Tests.csproj
/Unity.VisualScripting.Core.csproj
/Unity.VisualScripting.Core.Editor.csproj
/Unity.VisualScripting.Flow.csproj
/Unity.VisualScripting.Flow.Editor.csproj
/Unity.VisualScripting.SettingsProvider.Editor.csproj
/Unity.VisualScripting.Shared.Editor.csproj
/Unity.VisualScripting.State.csproj
/Unity.VisualScripting.State.Editor.csproj
/Unity.VisualStudio.Editor.csproj
/Unity.VSCode.Editor.csproj
/UnityEditor.TestRunner.csproj
/UnityEditor.UI.csproj
/UnityEditor.UI.EditorTests.csproj
/UnityEngine.TestRunner.csproj
/UnityEngine.UI.csproj
/UnityEngine.UI.Tests.csproj
/Assets/NaughtyAttributes/Scripts/Core/Utility.meta
/Assets/NaughtyAttributes/Scripts/Editor/Utility.meta
/Assets/NaughtyAttributes/Scripts/Core/ValidatorAttributes/ValidateInputAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/ValidatorAttributes/ValidateInputAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Editor/PropertyValidators/ValidateInputPropertyValidator.cs
/Assets/NaughtyAttributes/Scripts/Editor/PropertyValidators/ValidateInputPropertyValidator.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/ValidatorAttributes/ValidatorAttribute.cs
/Assets/NaughtyAttributes/Scripts/Core/ValidatorAttributes/ValidatorAttribute.cs.meta
/Assets/NaughtyAttributes/Scripts/Core/ValidatorAttributes.meta
